<div id="left">
	<div>
		<% form_tag search_events_path do -%>
			<%= hidden_field_tag :year %>
			<p>
				<%= label_tag :keywords %>
				<%= text_field_tag :keywords -%>
			</p>
				<%= check_box_tag :accidents %>
				<%= label_tag :accidents %>
				<%= check_box_tag :crime %>
				<%= label_tag :crime %>
				<%= check_box_tag :cultural %>
				<%= label_tag :cultural %>
				<%= check_box_tag :economy %>
				<%= label_tag :economy %>
				<%= check_box_tag :politics %>
				<%= label_tag :politics %>
				<%= check_box_tag :science %>
				<%= label_tag :science %>
				<%= check_box_tag :war %>
				<%= label_tag :war %>
			</p>
			<p>
				<%= submit_tag "Get events" %>
			</p>
		<% end -%>
		<div id="events">
		</div>
	</div>
</div>

<div id="right">
	<div>
		<div id="slider"><div id="handle"></div></div>
		<div id="map"></div>
	</div>
</div>
